@import url('https://at.alicdn.com/t/c/font_3555577_me2a6tdmvu8.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 375PX设计稿对应100vw的窗口  那么设定HTML的fontsize = 100px    相当于fontsize =( 100vw / 375px ) * 100  */
/*后边所有的元素 量出px 除以 100 就是当前的rem*/

html {
  font-size: 0.125vw;
  /* font-size: 26.666vw; */
}
body {
  font-size: 35rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  font-family: 'Microsoft Yahei', 'sans-serif';
}
a {
  color: inherit;
  text-decoration: none;
}
.iconfont {
  font-size: inherit;
}
